<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjft.microservice.treasurybrain.linecenter.repository.LineNetPointMatrixMapper">
	<resultMap id="BaseResultMap" type="com.zjft.microservice.treasurybrain.linecenter.domain.NetPointMatrix">
		<id column="START_POINT_NO" property="startPointNo" jdbcType="VARCHAR"/>
		<id column="END_POINT_NO" property="endPointNo" jdbcType="VARCHAR"/>
		<id column="TYPE" property="type" jdbcType="INTEGER"/>
		<id column="TACTIC" property="tactic" jdbcType="INTEGER"/>
		<result column="DISTANCE" property="distance" jdbcType="INTEGER"/>
		<result column="TIME_COST" property="timeCost" jdbcType="INTEGER"/>
		<result column="CLR_CENTER_NO" property="clrCenterNo" jdbcType="VARCHAR"/>
		<result column="NOTE" property="note" jdbcType="VARCHAR"/>
		<result column="DATA_TYPE" property="dataType" jdbcType="INTEGER"/>
	</resultMap>


	<sql id="Base_Column_List">
    START_POINT_NO, END_POINT_NO, TYPE, TACTIC, DISTANCE, TIME_COST, NOTE , CLR_CENTER_NO, DATA_TYPE
  </sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
			parameterType="com.zjft.microservice.treasurybrain.linecenter.domain.NetPointMatrixKey">
		select
		<include refid="Base_Column_List"/>
		from netpoint_matrix_table
		where START_POINT_NO = #{startPointNo,jdbcType=VARCHAR}
		and END_POINT_NO = #{endPointNo,jdbcType=VARCHAR}
		and TYPE = #{type,jdbcType=INTEGER}
		and TACTIC = #{tactic,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
			parameterType="com.zjft.microservice.treasurybrain.linecenter.domain.NetPointMatrixKey">
    delete from netpoint_matrix_table
    where START_POINT_NO = #{startPointNo,jdbcType=VARCHAR}
      and END_POINT_NO = #{endPointNo,jdbcType=VARCHAR}
      and TYPE = #{type,jdbcType=INTEGER}
      and TACTIC = #{tactic,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="com.zjft.microservice.treasurybrain.linecenter.domain.NetPointMatrix">
    insert into NETPOINT_MATRIX_TABLE (START_POINT_NO, END_POINT_NO, TYPE, 
      TACTIC, DISTANCE, TIME_COST, 
      CLR_CENTER_NO, NOTE, DATA_TYPE
      )
    values (#{startPointNo,jdbcType=VARCHAR}, #{endPointNo,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{tactic,jdbcType=INTEGER}, #{distance,jdbcType=INTEGER}, #{timeCost,jdbcType=INTEGER}, 
      #{clrCenterNo,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{dataType,jdbcType=INTEGER}
      )
  </insert>
	<insert id="insertSelective" parameterType="com.zjft.microservice.treasurybrain.linecenter.domain.NetPointMatrix">
		insert into netpoint_matrix_table
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="startPointNo != null">
				START_POINT_NO,
			</if>
			<if test="endPointNo != null">
				END_POINT_NO,
			</if>
			<if test="type != null">
				TYPE,
			</if>
			<if test="tactic != null">
				TACTIC,
			</if>
			<if test="distance != null">
				DISTANCE,
			</if>
			<if test="timeCost != null">
				TIME_COST,
			</if>
			<if test="clrCenterNo != null">
				CLR_CENTER_NO,
			</if>
			<if test="note != null">
				NOTE,
			</if>
			<if test="dataType != null">
				DATA_TYPE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="startPointNo != null">
				#{startPointNo,jdbcType=VARCHAR},
			</if>
			<if test="endPointNo != null">
				#{endPointNo,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="tactic != null">
				#{tactic,jdbcType=INTEGER},
			</if>
			<if test="distance != null">
				#{distance,jdbcType=INTEGER},
			</if>
			<if test="timeCost != null">
				#{timeCost,jdbcType=INTEGER},
			</if>
			<if test="clrCenterNo != null">
				#{clrCenterNo,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				#{note,jdbcType=VARCHAR},
			</if>
			<if test="dataType != null">
				#{dataType,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
			parameterType="com.zjft.microservice.treasurybrain.linecenter.domain.NetPointMatrix">
		update netpoint_matrix_table
		<set>
			<if test="distance != null">
				DISTANCE = #{distance,jdbcType=INTEGER},
			</if>
			<if test="timeCost != null">
				TIME_COST = #{timeCost,jdbcType=INTEGER},
			</if>
			<if test="clrCenterNo != null">
				CLR_CENTER_NO = #{clrCenterNo,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				NOTE = #{note,jdbcType=VARCHAR},
			</if>
			<if test="dataType != null">
				DATA_TYPE = #{dataType,jdbcType=INTEGER},
			</if>
		</set>
		where START_POINT_NO = #{startPointNo,jdbcType=VARCHAR}
		and END_POINT_NO = #{endPointNo,jdbcType=VARCHAR}
		and TYPE = #{type,jdbcType=INTEGER}
		and TACTIC = #{tactic,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
			parameterType="com.zjft.microservice.treasurybrain.linecenter.domain.NetPointMatrix">
    update netpoint_matrix_table
    set DISTANCE = #{distance,jdbcType=INTEGER},
      TIME_COST = #{timeCost,jdbcType=INTEGER},
      DATA_TYPE = #{dataType,jdbcType=INTEGER},
      NOTE = #{note,jdbcType=VARCHAR}
    where START_POINT_NO = #{startPointNo,jdbcType=VARCHAR}
      and END_POINT_NO = #{endPointNo,jdbcType=VARCHAR}
      and TYPE = #{type,jdbcType=INTEGER}
      and TACTIC = #{tactic,jdbcType=INTEGER}
  </update>
	<select id="getDistanceByDevs" resultType="java.util.Map" parameterType="java.util.Map">
		select d.NO as "devNo" , n.DISTANCE as "distance"
		from netpoint_matrix_table n , dev_base_info d
		where d.ORG_NO = n.END_POINT_NO
		and n.TYPE = 1
		<if test="devNos != null and devNos != ''">
			and d.NO IN ( ${devNos})
		</if>
	</select>
	<select id="getNetMatrixRow" resultType="java.lang.Integer" parameterType="java.util.Map">
		select
		count(1)
		from netpoint_matrix_table n
		<where>
			<if test="type != null and type != -1">
				and n.TYPE = #{type,jdbcType=INTEGER}
			</if>
			<if test="tactic != null and tactic != -1 ">
				and n.TACTIC = #{tactic,jdbcType=INTEGER}
			</if>
			<if test="dataType != null and dataType != -1 ">
				and n.DATA_TYPE = #{dataType,jdbcType=INTEGER}
			</if>
			<if test="startPointNo != null and startPointNo != ''">
				and n.START_POINT_NO like concat(concat('%',#{startPointNo,jdbcType=VARCHAR}),'%')
			</if>
			<if test="endPointNo != null and endPointNo != ''">
				and n.END_POINT_NO like concat(concat('%',#{endPointNo,jdbcType=VARCHAR}),'%')
			</if>
			<if test="clrCenterNo != null and clrCenterNo != ''">
				and n.CLR_CENTER_NO = #{clrCenterNo,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="getNetMatrix" resultMap="BaseResultMap" parameterType="java.util.Map">
		select tt.* from ( SELECT t.*, ROWNUM as rn from(
		select
		<include refid="Base_Column_List"/>
		from netpoint_matrix_table n
		<where>
			<if test="type != null and type != -1">
				and n.TYPE = #{type,jdbcType=INTEGER}
			</if>
			<if test="tactic != null and tactic != -1 ">
				and n.TACTIC = #{tactic,jdbcType=INTEGER}
			</if>
			<if test="dataType != null and dataType != -1 ">
				and n.DATA_TYPE = #{dataType,jdbcType=INTEGER}
			</if>
			<if test="startPointNo != null and startPointNo != ''">
				and n.START_POINT_NO like concat(concat('%',#{startPointNo,jdbcType=VARCHAR}),'%')
			</if>
			<if test="endPointNo != null and endPointNo != ''">
				and n.END_POINT_NO like concat(concat('%',#{endPointNo,jdbcType=VARCHAR}),'%')
			</if>
			<if test="clrCenterNo != null and clrCenterNo != ''">
				and n.CLR_CENTER_NO = #{clrCenterNo,jdbcType=VARCHAR}
			</if>
		</where>
		order by n.START_POINT_NO, n.END_POINT_NO,n.TYPE, n.TACTIC
		) t where ROWNUM &lt;= #{endRow,jdbcType=NUMERIC}
		) tt
		where tt.rn &gt;#{startRow,jdbcType=NUMERIC}

	</select>
	<insert id="createOrUpdate" parameterType="com.zjft.microservice.treasurybrain.linecenter.domain.NetPointMatrix">
		<selectKey keyProperty="count" resultType="int" order="BEFORE">
			select count(1) from netpoint_matrix_table
			where START_POINT_NO = #{startPointNo,jdbcType=VARCHAR}
			and END_POINT_NO = #{endPointNo,jdbcType=VARCHAR}
			and TYPE = #{type,jdbcType=INTEGER}
			and TACTIC = #{tactic,jdbcType=INTEGER}
			and CLR_CENTER_NO = #{clrCenterNo,jdbcType=VARCHAR}
		</selectKey>
		<if test="count >0">
			update netpoint_matrix_table
			<set>
				<if test="distance != null">
					DISTANCE = #{distance,jdbcType=INTEGER},
				</if>
				<if test="timeCost != null">
					TIME_COST = #{timeCost,jdbcType=INTEGER},
				</if>
				<if test="note != null">
					NOTE = #{note,jdbcType=VARCHAR},
				</if>
			</set>
			where START_POINT_NO = #{startPointNo,jdbcType=VARCHAR}
			and END_POINT_NO = #{endPointNo,jdbcType=VARCHAR}
			and TYPE = #{type,jdbcType=INTEGER}
			and TACTIC = #{tactic,jdbcType=INTEGER}
			and CLR_CENTER_NO = #{clrCenterNo,jdbcType=VARCHAR}
		</if>
		<if test="count ==0">
			insert into netpoint_matrix_table
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="startPointNo != null">
					START_POINT_NO,
				</if>
				<if test="endPointNo != null">
					END_POINT_NO,
				</if>
				<if test="type != null">
					TYPE,
				</if>
				<if test="tactic != null">
					TACTIC,
				</if>
				<if test="distance != null">
					DISTANCE,
				</if>
				<if test="timeCost != null">
					TIME_COST,
				</if>
				<if test="note != null">
					NOTE,
				</if>
				<if test="clrCenterNo != null">
					CLR_CENTER_NO,
				</if>
			</trim>
			<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="startPointNo != null">
					#{startPointNo,jdbcType=VARCHAR},
				</if>
				<if test="endPointNo != null">
					#{endPointNo,jdbcType=VARCHAR},
				</if>
				<if test="type != null">
					#{type,jdbcType=INTEGER},
				</if>
				<if test="tactic != null">
					#{tactic,jdbcType=INTEGER},
				</if>
				<if test="distance != null">
					#{distance,jdbcType=INTEGER},
				</if>
				<if test="timeCost != null">
					#{timeCost,jdbcType=INTEGER},
				</if>
				<if test="note != null">
					#{note,jdbcType=VARCHAR},
				</if>
				<if test="clrCenterNo != null">
					#{clrCenterNo,jdbcType=VARCHAR}
				</if>
			</trim>
		</if>
	</insert>

	<update id="createOrUpdateBatch" parameterType="java.util.List">
		insert into netpoint_matrix_table
		(START_POINT_NO, END_POINT_NO, TYPE, TACTIC, DISTANCE, TIME_COST, NOTE,CLR_CENTER_NO)
		VALUES
		<foreach collection="list" item="item" open="" close="" separator="," index="index">
			(#{item.startPointNo,jdbcType=VARCHAR}, #{item.endPointNo,jdbcType=VARCHAR}, #{item.type,jdbcType=INTEGER},
			#{item.tactic,jdbcType=INTEGER}, #{item.distance,jdbcType=INTEGER}, #{item.timeCost,jdbcType=INTEGER},
			#{item.note,jdbcType=VARCHAR}, #{item.clrCenterNo,jdbcType=VARCHAR})
		</foreach>
		ON DUPLICATE KEY UPDATE
		`DISTANCE`=VALUES(DISTANCE),
		`TIME_COST`=VALUES(TIME_COST),
		`NOTE`=VALUES(NOTE)
	</update>
	<select id="selectNetpointMatrix" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List"/>
		from netpoint_matrix_table
		where START_POINT_NO in
		<foreach item="item" index="index" collection="startPointNos" open="(" separator="," close=")">
			#{item}
		</foreach>
		and END_POINT_NO in
		<foreach item="item" index="index" collection="endPointNos" open="(" separator="," close=")">
			#{item}
		</foreach>
		and TYPE = #{type,jdbcType=INTEGER}
		and TACTIC = #{tactic,jdbcType=INTEGER}
		and DATA_TYPE = #{dataType,jdbcType=INTEGER}
	</select>
	<select id="getLinkedList" resultType="java.util.Map">
  	SELECT END_POINT_NO as "no"
  	FROM NETPOINT_MATRIX_TABLE
  	where TACTIC = #{tactic,jdbcType=INTEGER}
  	and START_POINT_NO =  #{iPointNo,jdbcType=VARCHAR}
  </select>
	<select id="getPathLinked" resultType="java.util.Map">
		SELECT TYPE as "type", TACTIC as "tactic" ,count(1) as "pathCount"
		FROM NETPOINT_MATRIX_TABLE
		where 1=1
		<if test="clrCenterNo != null and clrCenterNo != '' ">
			and CLR_CENTER_NO = #{clrCenterNo,jdbcType=VARCHAR}
		</if>
		<if test="dataType != null and dataType != -1 ">
			and DATA_TYPE = #{dataType,jdbcType=INTEGER}
		</if>
		group by TYPE, TACTIC
	</select>
	<select id="getLinkedListByClrNo" resultType="java.lang.Integer">
  	SELECT count(1) as pathCount 
  	FROM NETPOINT_MATRIX_TABLE where 1=1
  	and TACTIC = #{tactic,jdbcType=INTEGER}
  	and CLR_CENTER_NO =  #{clrCenterNo,jdbcType=VARCHAR}
  </select>
	<select id="deleteLinkedListByClrNo">
  	DELETE FROM NETPOINT_MATRIX_TABLE where 1=1
  	and TACTIC = #{tactic,jdbcType=INTEGER}
  	and CLR_CENTER_NO =  #{clrCenterNo,jdbcType=VARCHAR}
  </select>

	<select id="selectByPrimaryKeyMap" resultMap="BaseResultMap"
			parameterType="java.util.Map">
		select
		<include refid="Base_Column_List"/>
		from netpoint_matrix_table
		where START_POINT_NO = #{startPointNo,jdbcType=VARCHAR}
		and END_POINT_NO = #{endPointNo,jdbcType=VARCHAR}
		and TYPE = #{type,jdbcType=INTEGER}
		and TACTIC = #{tactic,jdbcType=INTEGER}
	</select>
</mapper>
